<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-flex is-align-items-center">
        <a href="{{ .Site.BaseURL }}" class="navbar-item brand-logo">
            {{ with resources.GetMatch "images/brand-logo.*" }}
            <img src="{{ .RelPermalink }}" alt="{{ $.Site.Title }} Logo" />
            {{ end }}
        </a>
        {{/* <a role="button" class="navbar-burger mr-4" aria-label="menu" aria-expanded="false"
            data-target="mainNavbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a> */}}
    </div>
    {{/* <div id="mainNavbarMenu" class="navbar-menu" style="box-shadow: none !important;">
        <ul id="mainNavbarMenuList" class="navbar-end">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" class="navbar-item nav-link">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div> */}}
</nav>
{{/*
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var burger = document.querySelector('.navbar-burger');
        var menu = document.getElementById('mainNavbarMenu');

        function toggleMenu() {
            menu.classList.toggle('is-active');
            burger.classList.toggle('is-active');
        }

        burger && burger.addEventListener('click', toggleMenu);

        // Close menu when clicking on a menu item (mobile)
        var menuLinks = menu.querySelectorAll('a');
        menuLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                if (window.innerWidth < 1024) {
                    menu.classList.remove('is-active');
                    burger.classList.remove('is-active');
                }
            });
        });
    });
</script> */}}