{{ $announcementDate := default .announcementDate ( now.Format "January 2, 2006")}}
{{ $announcementMessage := default .announcementMessage "Hydrus OMS launch announced"}}
{{ $message := default .message "Professional IT Services for Modern Business" }}
{{ $button1 := default .button1 "Explore"}}
{{ $button2 := default .button2 "Contact"}}
<div class="hero">
  <div class="content">
    <div class="banner">
      <span class="date">{{ $announcementDate }}</span>
      <span>{{ $announcementMessage }}</span>
      <a href="/portfolio">
        <span>Check it out!</span>{{ partial "icon.html" (dict "id"
        "arrow-top-right-on-square" "alt" "Go to Latest Project") }}
      </a>
    </div>
    <div class="message">
        <h1>{{ $message }}</h1>
    </div>
    <div class="container">
      <a
        href="#"
        class="button"
        >Explore</a
      >
      <a
        href="#"
        class="button"
        >Contact</a
      >
    </div>
  </div>
  <div class="scroll">
    <a href="#services">
        {{ partial "icon.html" (dict "id" "chevron-down" "alt" "Scroll Down") }}
    </a>
</div>
</div>
