<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ site.Title }}</title>
        {{ with resources.Get "normalize.css" }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" />
        {{ end }}
        {{ with resources.Get "style.css" }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" />
        {{ end }}
        <script src="//unpkg.com/alpinejs" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
                    </li>
                </ul>
                <ul>
                    {{ range site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        {{ block "main" . }} {{ end }}
    </body>
</html>
