{{ define "main" }}
<section class="hero">
  {{ with  .Site.Data.home.hero }}
  <header>
    <img src="/avatar.jpeg" alt="Jackson Galan" class="hero-avatar" />
    <hgroup>
      <h1><span class="adjective">San Francisco</span> <span class="noun">Software Engineer</span></h1>
    </hgroup>
    <p class="hero-subheading">{{ .subheading | markdownify }}</p>
  </header>
  {{ end }}
</section>
{{ $portfolioPage := site.GetPage "portfolio" }}
{{ $featuredPages := where $portfolioPage.Pages "Params.featured" true }}
{{ $featuredPage := index $featuredPages 0 }}
{{ partial "featured" $featuredPage }}
{{ end }}
