{{ define "main" }}
<section>
    <header class="mb-4">
        <h2 class="title is-2" style="color: #8b0031">{{ .Title }}</h2>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <div class="category-link">
            {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
        </div>
        <div class="tags-list">
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </div>
        {{ partial "github-repo-link.html" . }}
    </header>
    <main class="px-0 content">
        {{ .Content }}
    </main>
</section>
{{ end }}