{{ define "main" }}
<section>
  <h1 class="title is-1">{{ .Name | title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
</section>
<section>
  {{ range .Pages }}
  <h2 class="title is-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  <div class="content">
    {{ .Summary }}
  </div>
  {{ end }}
</section>
<section class="mt-4">
  <header>
    <h2 class="title is-5">Categories</h2>
  </header>
  <main>
    {{ partial "sectionCategories.html" . }}
  </main>
</section>
{{ end }}