@use "partials/font";

// Set your brand colors
$red: hsl(338.85deg 100% 27.25%);
$navy: hsl(220deg 100% 20%);
$ultramarine: hsl(220deg 100% 40%);
$theYellowWallpaper: hsl(50deg 100% 90%);

@use "bulma/sass" with (
  $family-primary: font.$family-primary,
  $family-secondary: font.$family-secondary,
  $title-family: font.$family-secondary,
  $primary: $red,
  $link: $navy,
  $info: $ultramarine,
  $warning: $theYellowWallpaper,
  $control-border-width: 2px,
  $input-shadow: none
);

.hero.is-dark a,
.hero.is-black a {
  color: #f3f4f6;
  text-decoration: underline;
  &.tag {
    text-decoration: none;
  }
}
