.terms {
  gap: 1rem;
}

#top-nav {
  .navbar-item > img {
    max-height: 2.5rem;
  }
}

#featured-post {
  .badge {
    text-transform: uppercase;
  }
}

.content {
  blockquote,
  ul {
    margin-bottom: 1rem;
  }
}

.timepiece.card .thumbnail {
  max-height: 360px;
  width: 100%;
  img {
    object-fit: cover;
  }
}
