.hero-body-max-width {
  max-width: 800px;
}

.terms {
  gap: 1rem;
}

#top-nav {
  .navbar-item > img {
    max-height: 2.5rem;
  }
}

#featured-post {
  .badge {
    text-transform: uppercase;
  }
}

.content {
  blockquote,
  ul {
    margin-bottom: 1rem;
  }
}

.timepiece.card .thumbnail {
  max-height: 360px;
  width: 100%;
  img {
    object-fit: cover;
  }
}

body > footer {
  margin-top: auto;
}

.max-w-readable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.content {
  .outline-1,
  .outline-2,
  .outline-3 {
    margin-bottom: 1rem;
  }
}

.relations.belongs-to,
.relations.has {
  a {
    color: #ffffff;
  }
}
