{{ define "main" }}
<section>
  <h1 class="title is-1">{{ .Name | title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
</section>
<section>
  {{ $pages := .Pages }}
  {{ if eq .Parent.Name "Activity"}}
  {{ $pages = $pages.ByParam "performedAt" }}
  {{ partial "activitiesTable.html" $pages }}
  {{ else }}
  {{ range $pages }}
  <h2 class="title is-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  <div class="content">
    {{ .Summary }}
  </div>
  {{ end }}
  {{ end }}
</section>
<section class="mt-4">
  <header>
    <h2 class="title is-5">Categories</h2>
  </header>
  <main>
    {{ partial "sectionCategories.html" . }}
  </main>
</section>
{{ end }}