<table class="table is-fullwidth is-striped" id="activitiesTable" data-default-sort="performedAt">
    <thead>
        <tr>
            <th class="sortable" data-sort="performedAt">
                Time
            </th>
            <th>Summary</th>
            <th class="sortable" data-sort="rating">
                Rating
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr data-performed-at="{{ .Params.performedAt }}" data-rating="{{ .Params.rating | default 0 }}">
            <td>
                <p>
                    {{ (time .Params.performedAt).Format "3:04pm" }}
                </p>
            </td>
            <td>
                <a href="{{ .RelPermalink }}">{{ .Summary }}</a>
            </td>
            <td>
                <p>
                    {{ .Params.rating | default "—" }}
                </p>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>