<nav class="navbar is-flex is-align-items-center" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ .Site.BaseURL }}" class="navbar-item brand-logo">
            {{ with resources.GetMatch "images/brand-logo.*" }}
            <img src="{{ .RelPermalink }}" alt="{{ $.Site.Title }} Logo" />
            {{ end }}
        </a>
    </div>
    <div class="navbar-menu is-active">
        <div class="is-flex is-align-items-center">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="navbar-item nav-link">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
</nav>