{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
<ul class="terms-list {{ if eq $taxonomy " categories" }}categories-list{{ else if eq $taxonomy "tags" }}tags-list{{ end
  }}">
  {{- range . }}
  <li><a href="{{ .RelPermalink }}" class="term-link {{ if eq $taxonomy " tags" }}is-secondary{{ end }}">{{ .LinkTitle
      }}</a></li>
  {{- end }}
</ul>
{{- end }}